USE [FoodGuideDB]
GO
/****** Object:  Table [dbo].[AdminUsers]    Script Date: 24/03/2026 2:18:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NULL,
	[Password] [nvarchar](255) NULL,
	[FullName] [nvarchar](255) NULL,
	[Role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodItems]    Script Date: 24/03/2026 2:18:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PoiId] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[IsAvailable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POIs]    Script Date: 24/03/2026 2:18:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POIs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Address] [nvarchar](255) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Radius] [float] NULL,
	[AudioUrl] [nvarchar](255) NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[Category] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminUsers] ON 

INSERT [dbo].[AdminUsers] ([Id], [Username], [Password], [FullName], [Role]) VALUES (1, N'admin', N'123456', N'Quản trị viên', N'Admin')
SET IDENTITY_INSERT [dbo].[AdminUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodItems] ON 

INSERT [dbo].[FoodItems] ([Id], [PoiId], [Name], [Description], [Price], [ImageUrl], [IsAvailable]) VALUES (1, 1, N'Bún bò đặc biệt', N'Tô lớn, nhiều topping', 65000, N'/images/bunbo-dacbiet.jpg', 1)
SET IDENTITY_INSERT [dbo].[FoodItems] OFF
GO
SET IDENTITY_INSERT [dbo].[POIs] ON 

INSERT [dbo].[POIs] ([Id], [Name], [Description], [Address], [Latitude], [Longitude], [Radius], [AudioUrl], [ImageUrl], [Category], [IsActive]) VALUES (1, N'Bún bò Huế VIP', N'Update thử', N'Sài Gòn', 10.7, 106.6, 50, N'', N'', N'Food', 1)
SET IDENTITY_INSERT [dbo].[POIs] OFF
GO
ALTER TABLE [dbo].[FoodItems] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[POIs] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FoodItems]  WITH CHECK ADD FOREIGN KEY([PoiId])
REFERENCES [dbo].[POIs] ([Id])
GO
